# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Data Files
*.csv
*.pdf

# Data Folder
data/*
!data/readme

# Experiments Folder
experiments/*/*
!experiments/*/_run.sh
!experiments/*/_demo.sh
!experiments/*/settings.json

# Old Folders
examples/18_examples/
scripts/18_batch_experiments/

# Temp Files
.*.sw*

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
parts/
sdist/
target/
var/
.Python
.installed.cfg
*.egg-info/
*.egg

# pyenv
.python-version

# direnv
.envrc

# Other Files
notes/
tmp/
research.txt
todo.txt
.DS_Store
